/* src/LandingPage.css */
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.landing-page {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
}

.circle {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.2s;
}